# Build
build
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# elf
*.a
*.o
*.elf
*.stripped
*.debug
*.dbg
*.op
*.oS
*.oc
*.obj
*.d
*.out
*.so
*.bkp
*.dtmp

# Patches
*.patch
*.ulp
*.ulpo
*.ulp.*
*.up

# Temp
*~

# Coredump, we don't have source file named with core. prefix.
core.*
!core*.c

# mkdocs
site

# Archive
*.tar.*

# rpm
BUILD
BUILDROOT
RPMS
SRPMS
SOURCES
*.rpm

